.Weather h1,
.Weather h3 {
  text-align: center;
}

.Weather h1 {
  font-size: 42px;
  font-weight: 500;
  margin: 0;
  padding: 30px 0 0;
}

.Weather h3 {
  font-weight: 400;
  font-size: 22px;
  padding: 12px 0;
}

.WeatherDetails {
    padding: 40px 0;
}
.btn {
    background: #00adb5 !important;
}

li {
    list-style: none;
}
p {
    font-size: 48px;
}


.CurrentWeather {
    font-family: 'Poiret One', sans-serif;
    
  }
  
  .Description {
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 20px 0;
  }
  
  .Temperature {
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .TemperatureValue {
    font-size: 80px;
    font-weight: 500;
  }
  
  .Unit {
    float: right;
    padding-top: 20px;
    letter-spacing: 0.3em;
    font-size: 20px;
    padding-left: 10px;
  }

  .Unit a {
    text-decoration: none;
  }
  
  .WeatherDetails {
    padding-top: 20px;
    letter-spacing: 0.1em;
    font-size: 14px;
    text-align: center;
  }

  .Pressure,
  .Humidity,
  .Wind {
    padding-bottom: 18px;
  }